body {
    margin: 0px;
}
/*nav {
    background-color: greenyellow;
}
*/
ul {
    display: flex;
}
li {
    list-style: none;
}

.table .row:nth-of-type(n+2) {
    display: none;
    background-color: red;
/*    background-color: red;*/
}

.table.expanded > .row {
    display: flex;
}



/*header {
    height: 300px;
    background-image: url("media/background.png");
    width: 100%;
}*/