.container {
  display: grid;
  grid-template-columns: repeat(9, 1fr);
  gap: 10px;
}

.drum {
    width: 70px;
    height: 70px;
    border: 3px black solid;
    text-align: center;
    padding-top: 30px;
    font-size: 20px;
}