<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Ебаное животное</title>
</head>
<body>
    <h1><a href="{% url 'all_animals' %}"> Animals </a></h1>
    <h2>{{ animal.name }}</h2>
    <ul>
        <li>Legs - {{ animal.legs }}</li>
        <li>Weight - {{ animal.weight }}</li>
        <li>Height - {{ animal.height }}</li>
        <li>Speed - {{ animal.speed }}</li>
    </ul>
</body>
</html>