#outer-container {
    position: relative;
    width: auto;
    height: 130px;
    background-color: grey;
}

#blue {
    position: absolute;
    left: 0px;
    top: 0px;
    background-color: blue;
    width: 100px;
    height: 100px;
}

#yellow {
    position: absolute;
    left: 3px;
    top: 3px;
    background-color: yellow;
    width: 100px;
    height: 100px;
}
